<div class="container">
<div class="row align-items-center justify-content-center" style="height:100vh">
    <div class="col-md-6">
      <form class="p-4 p-md-5 border rounded-3 bg-light" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="" name="email" [(ngModel)]="email" required>
          <label for="email">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="password" placeholder="" name="password" [(ngModel)]="password" required>
          <label for="password">Password</label>
        </div>
       
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
       
        <hr class="my-4">
        <!-- <small class="text-muted">{{errorMsg}}</small> -->
      
        @if(errorMsg) {
            <div class="alert alert-danger" role="alert">
                {{errorMsg}}
            </div>
        }
      </form>
    </div>
  </div>
</div>